.wrapper {
    display: flex;
    flex-direction: column;
    padding: 4rem;
    background-color: var(--medium-accent);
    align-items: center;
}

.wrapper h1 {
    font-size: 4rem;
    padding: 4rem 0 2rem;
}

.wrapper h2 {
    font-size: 3rem;
    line-height: 1.2;
    padding: 0 0 3rem;
}

.image {
    width: 70vw;
    margin: 0 auto;
    padding: 8rem 0 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.wrapper p {
    font-size: 1.9rem;
    text-align: center;
}

.link {
    background-color: var(--brown-accent);
    width: fit-content;
    padding: 1.5rem;
    font-size: 1.9rem;
    margin: 3rem 0 0;
    border-radius: 1rem;
}