.wrapper {
    background-color: var(--light-grey);
    padding: 4rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.wrapper h2 {
    width: 70vw;
    margin: 0 auto;
    padding: 2rem 0 4rem;
}

.image {
    margin: 0 auto;
    padding: 4rem 0 2rem;
}

.link {
    margin: 6rem 0 4rem;
}