.header {
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.header h1 {
    font-size: 3.8rem;
    padding: 2rem 1rem;
}

.header ul {
    display: flex;
    padding: 1rem;
    align-items: center;
}

.header ul li {
    padding: 0.75rem;
}