.container {
    background-color: var(--outstanding-color);
    padding: 1rem 0;
}

.container ul {
    display: flex;
    justify-content: center;
}

.container ul, .container p {
    font-size: 1.4rem;
    text-align: center;
}

.container ul li {
    padding: 0.3rem;
}