.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
}

.container h2 {
    padding: 2rem;
    padding-bottom: 1rem;    
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 900;
}

.container h3 {
    font-size: 2.4rem;
    text-align: center;
    padding: 0 2rem 0;
    line-height: 1.3;
}