html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #f6f4e944;
}

html {
    /* this causes you to put pixels easily in rem - 24px = 2.4rem */
    font-size: 62.5%;
  }

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
  
ul {
  list-style-type: none;
  align-items: center;
}