body {
  font-family: 'Urbanist', sans-serif;
}

h1 {
  font-style: normal;
  font-size: 8.4rem;
}
  
h2 {
  font-style: normal;
  font-size: 7.2rem;
}

h3 {
  font-style: normal;
  font-size: 6rem;
}

h4 {
  font-style: normal;
  font-size: 4.8rem;
}

h5 {
  font-style: normal;
  font-size: 3.6rem;
}

h6 {
  font-style: normal;
  font-size: 3rem;
}

p {
  font-style: normal;
  font-size: 1.8rem;
}

.abril-fatface {
  font-family: 'Abril Fatface', cursive;
}

.cursive {
  font-style: cursive;
}

.logo {}